<h1>Dishes#indezzzzzzzz</h1>
<p>salut</p>
<p>Find me in app/views/dishes/index.html.erb</p>

<h1>dishes</h1>
<ul>
  <% @dishes.each do |dish| %>
    <li><%= link_to dish.name, dish_path(dish) %></li>
  <% end %>
</ul>
<%= link_to "Pré-commander", brouillons_quatre_path %>




<h1>dishes</h1>
<ul>
  <% @dishes.each do |dish| %>
    <li><%= link_to dish.name, dishes_path %> <%= link_to dish.price_cents/100 %></li>
    <%= button_to "Compare Excel", :action => "rr" %>

  <% end %>
</ul>


<%= link_to "créer un dish", new_dish_path %>

