<br>
<br>
<br>


<h1>TeST CAAArtT</h1>

<h1>dishes</h1>
<ul>
  <% @dishes.each do |dish| %>
    <li><%= link_to dish.name, dish_path(dish) %></li>
  <% end %>
</ul>
<%= link_to "Pré-commander", brouillons_quatre_path %>


<h1>dishes</h1>
<ul>
  <% @dishes.each do |dish| %>
    <li>
    <%= link_to dish.name, testcartid_path(dish) %> <%= link_to dish.price_cents/100 %>
    <%= button_to "Compare Excel", :action => "rr" %>
    <%= link_to "Ajouter au panier", dishes_path %>
    <br><br>
    </li>

  <% end %>
</ul>



<%= @rr %>
